# Ignore datasets and large binary files
data/datasets/
*.zip
*.tgz
*.tar
*.tar.gz
*.7z
*.pkl
*.npz
*.h5
*.hdf5

__MACOSX/
.DS_Store

!data/datasets/COSEG/README.md
workdir/**
ms1/workdir/**
ms1/logs/**
logs/**
loss_summary.txt
*.bak
__pycache__/
*.pyc
